<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Title of Page with all people</title>
</head>

<body>

<p th:text="${personById.getId()}"></p>
<p th:text="${personById.getName()}"></p>

<a th:href="${/people/{id}/edit(id=${personByID.getId()})}">Edit this person</a>

<form th:method="POST" th:action="@{/people/delete/{id}(id=${personByID.getId()})}">
    <input type="submit" value="Delete person">
</form>

</div>

</body>

</html>